*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* header css */

header{
    padding: 20px;
    background-color: white;
}

.logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

/* /header css */

/* main css */

.box, .box2{
    background-color: white;
    width: 800px;
    margin: auto;
}

.box2{
    margin-top: 3px;
}

.box{
    margin-top: 50px;
}

div.box2 > div{
    padding-bottom: 30px;
}

p{
    padding-bottom: 20px;
    padding-top: 5px;
}

.check, .cross{
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}

.check{
    border: 2px solid #90d6c7;
    color: #90d6c7;
}

.cross{
    border: 2px solid #ec746f;
    color: #ec746f;
}

.blu, .arancione, .giallo, .verde, .rosa, .viola{
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
}

.grigio{
    color: grey;
    display: inline-block;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.viola{
    background-color: #9c72e4;
} 


.blu{
    background-color: #45abea;
}

.verde{
    background-color: #64c0a9;
} 

.arancione{
    background-color: #f29e33;
} 

.rosa{
    background-color: #d863a1;
} 

.giallo{
    background-color: #b0c926;
} 